.show-container {
  padding-top: 50px;
}

.show-card {
  max-width: 1100px;
  border: none;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  background: #fff;

  .card-main {
    padding: 40px;

    .btn-outline-primary {
      border-radius: 10px;
      padding: 12px 18px;
      font-size: 1.1rem;
    }
  }

}
