<div class="footer mt-3 sticky-bottom">
<div class="container">
<p class="text-white text-center pt-3">@Camera Buddy all right reserved</p>
<hr class="text-white">
<div class="filters d-flex justify-content-center align-items-center pb-3">
<i class="fa-brands fa-instagram"></i>
<i class="fa-brands fa-facebook"></i>
<i class="fa-brands fa-x-twitter"></i>
</div>
</div>
</div>
