<div class="container">
  <!-- form_with will build the form using the empty instance you give it -->
  <!-- <form action="/restaurants" method="post"></form> -->
  <%= render 'cameras/form', camera: @camera %>
</div>
