.footer{
  background-color: #3A606E;
  flex-shrink: 0;
}

.footer p,i{
  color: white;
  margin-left: 8px;
}

html, body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1 0 auto;
}
